services:

  rabbitmq:
    image: rabbitmq:management
    container_name: my-rabbitmq
    ports:
       - 5672:5672
       - 15672:15672
    hostname: rabbitmq
    volumes:
       - rabbitmqdata:/var/lib/rabbitmq
  

  fselements.auth:
    image: ${DOCKER_REGISTRY-}fselementsauth
    build:
      context: .
      dockerfile: FsElements.Auth/Dockerfile
    ports:
        - 62080:8080
        - 62081:8081
    environment:
        - RabbitMQSettings__Host=host.docker.internal
  

  fselements.formsapi:
    image: ${DOCKER_REGISTRY-}fselementsformsapi
    build:
      context: .
      dockerfile: FsElements.FormsApi/Dockerfile
    ports:
        - 62180:8080
        - 62181:8081
    environment:
        - RabbitMQSettings__Host=host.docker.internal


  fselements.ordersapi:
    image: ${DOCKER_REGISTRY-}fselementsordersapi
    build:
      context: .
      dockerfile: FsElements.OrdersApi/Dockerfile
    ports:
        - 62380:8080
        - 62381:8081
    environment:
        - RabbitMQSettings__Host=host.docker.internal
  


  fselements.elementsapi:
    image: ${DOCKER_REGISTRY-}fselementselementsapi
    build:
      context: .
      dockerfile: FsElements.ElementsApi/Dockerfile
    ports:
        - 62280:8080
        - 62281:8081
    environment:
        - RabbitMQSettings__Host=host.docker.internal


  # fselements.frontadmin:
  #   image: ${DOCKER_REGISTRY-}fselementsfrontadmin
  #   build:
  #     context: FsElements.FrontAdmin/.
  #     dockerfile: Dockerfile
  #   ports:
  #     - 6080:80

volumes:
    rabbitmqdata:


