services:

  rabbitmq:
    image: rabbitmq:management
    container_name: my-rabbitmq
    ports:
       - 5672:5672
       - 15672:15672
    hostname: rabbitmq
    volumes:
       - rabbitmqdata:/var/lib/rabbitmq
  

  fselements.auth:
    image: ${DOCKER_REGISTRY-}fselementsauth
    build:
      context: .
      dockerfile: FsElements.Auth/Dockerfile
    ports:
        - 52080:8080
        - 52081:8081

  fselements.formsapi:
    image: ${DOCKER_REGISTRY-}fselementsformsapi
    build:
      context: .
      dockerfile: FsElements.FormsApi/Dockerfile
    ports:
        - 52180:8080
        - 52181:8081


  fselements.ordersapi:
    image: ${DOCKER_REGISTRY-}fselementsordersapi
    build:
      context: .
      dockerfile: FsElements.OrdersApi/Dockerfile
    ports:
        - 52380:8080
        - 52381:8081


  fselements.elementsapi:
    image: ${DOCKER_REGISTRY-}fselementselementsapi
    build:
      context: .
      dockerfile: FsElements.ElementsApi/Dockerfile
    ports:
        - 52280:8080
        - 52281:8081


  # fselements.frontadmin:
  #   image: ${DOCKER_REGISTRY-}fselementsfrontadmin
  #   build:
  #     context: FsElements.FrontAdmin/.
  #     dockerfile: Dockerfile
  #   ports:
  #     - 6080:80

volumes:
    rabbitmqdata:


